html,
body {
	height: 100%;
	width: 100%;
}

.app-layout {
	height: 100%;
	width: 100%;
}

.page {
	height: calc(100vh - 100px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	/* background-color: black; */
}

